{% extends "/base_templates/base.html" %}
{% block content %}
    <div class="section">
      <div class="container">
        <div class="row">
          {% if friend_data and friend_education %}
            {% for row in friend_data %}
              {% for ed in friend_education %}
                {% if row['user_id'] == ed['user_id'] %}
                  <div class="col-md-6">
                    <h1>{{ row['user_name'] }} </h1>
                    <img src="{{ url_for('static', filename=row['user_picture']) }}" width="200" height="200"/>
                    <h3>I am a ... {{ row['user_rank'] }}</h3>
                    <form role="form" method='POST'>
                      <div class="btn-group">
                        <button type="submit" name="manage" value="addbutton_{{ row['user_id'] }}" class="btn btn-default">{% if row['userrank'] == 'regularuser' %}Add Friend {% else %} Like {% endif %}</button>
                        <button type="submit" name="manage" value="removebutton_{{ row['user_id'] }}" class="btn btn-default">Remove Friend</button>
                        <button type="submit" name="manage" value="rankbutton_{{ row['user_id'] }}" class="btn btn-default">Rank Friend</button>
                        <button type="submit" name="manage" value="messagebutton_{{ row['user_id'] }}" class="btn btn-default">Send Message</button>
                      </div>
                    </form>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label" for="about">
                        <h3>About</h3>
                      </label>
                        <p class="form-control" id="about" name="about" type="text" > {{ row['user_about'] }} </p>
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="interests">
                        <h3>Interests</h3>
                      </label>
                        <p class="form-control" id="interests" name="interests" type="text"> {{ row['user_interests'] }} </p>
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="education">
                        <h3>Education</h3>
                      </label>
                        <p>
                          School: <p class="form-control" id="education" name="school" type="text"> {{ ed['school']}} </p>
                        </p>
                        <p>
                          Major: <p class="form-control" id="education" name="major" type="text"> {{ ed['major'] }} </p>
                        </p>
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="associations">
                        <h3>Associations</h3>
                      </label>
                        <p class="form-control" id="associations" name="associations" type="text"> {{ row['user_associations'] }} </p>
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="courses">
                        <h3>Courses</h3>
                      </label>
                        <p class="form-control" id="courses" name="courses" type="text"> {{row['user_courses']}} </p>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            {% endfor %}
            {% else %}
              <div class="col-md-6">
                  <h1> No data available </h1>
                  <img src="#" width="200" height="200"/>
                  <h3>I am a ... </h3>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="about">
                      <h3>About</h3>
                    </label>
                      <p class="form-control" id="about" name="about" placeholder="Nothing about user..." type="text" > </p>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="interests">
                      <h3>Interests</h3>
                    </label>
                      <p class="form-control" id="interests" name="interests" placeholder="No interests for user..." type="text"> </p>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="education">
                      <h3>Education</h3>
                    </label>
                      <p>
                        School: <p class="form-control" id="education" name="school" placeholder="No school..." type="text"></p>
                      </p>
                      <p>
                        Major: <p class="form-control" id="education" name="major" placeholder="No major..." type="text"></p>
                      </p>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="associations">
                      <h3>Associations</h3>
                    </label>
                      <p class="form-control" id="associations" name="associations" placeholder="No associations..." type="text"></p>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="courses">
                      <h3>Courses</h3>
                    </label>
                      <p class="form-control" id="courses" name="courses" value="" placeholder="No courses..." type="text"> </p>
                  </div>
                </div>
            {% endif %}
          </div>
        </div>
      </div>
{% endblock %}