{% extends "/base_templates/base.html" %}
{% block content %}
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <a href="#"><img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-circle img-responsive"></a>
            <a class="btn btn-primary">Like</a>
            <ul class="list-group">
              <li class="list-group-item">See All Members</li>
            </ul>
          </div>
          <div class="col-md-9">
            <h1 class="text-warning">Bussiness &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              <br>
            </h1>
            <ul class="nav nav-pills"></ul>
            <h3 class="text-warning">About</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
              ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
              dis parturient montes, nascetur ridiculus mus.&nbsp;</p>
            <h3 class="text-warning">Contact Us</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
              ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
              dis parturient montes, nascetur ridiculus mus.&nbsp;</p>
            <hr>
            <h3 class="text-warning">Posts</h3>
            <div class="form-group">
              <input class="form-control" id="exampleInputPassword1" placeholder="..." type="text">
            </div>
            <a class="btn btn-primary">Post</a>
            <h3>page &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp;
              <br>
            </h3>
            <a href="#"><img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-circle img-responsive" width="50px"></a>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
              ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
              dis parturient montes, nascetur ridiculus mus.&nbsp;</p>
            <form role="form">
              <div class="form-group">
                <input class="form-control" id="exampleInputPassword1" placeholder="comment" type="text">
              </div>
            </form>
            <a class="btn btn-primary">Reply<br></a>
            <h3>person 3</h3>
            <a href="#"><img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-circle img-responsive" width="50px"></a>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
              ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
              dis parturient montes, nascetur ridiculus mus.&nbsp;</p>
            <form role="form">
              <div class="form-group">
                <input class="form-control" id="exampleInputPassword1" placeholder="comment" type="text">
              </div>
              <a class="btn btn-primary">Reply<br></a>
            </form>
            <ul class="pagination">
              <li>
                <a href="#">Prev</a>
              </li>
              <li>
                <a href="#">1</a>
              </li>
              <li>
                <a href="#">2</a>
              </li>
              <li>
                <a href="#">3</a>
              </li>
              <li>
                <a href="#">4</a>
              </li>
              <li>
                <a href="#">5</a>
              </li>
              <li>
                <a href="#">Next</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
     {% endblock %}